@model IEnumerable<OrderSystem.Models.PerPerson>

@{
    ViewData["Title"] = "Index";
}

<h1>Personal</h1>

<p>
    <a href="@Url.Action("Create","AdminPersons")" class="btn btn-success">Hinzufügen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsrUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsrUser.UsrUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoRole.RoName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
