@model OrderSystem.Models.ProProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProPriceBuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPriceBuy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
