@model OrderSystem.Models.EveEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EveEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EveName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EveName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EveStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EveStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EveEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EveEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
